<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Explore Malta
    </a>
  </div>
</nav>

<header id="search-section" style="min-height:100px">
  <div class="container pt-3">
    <div class="card text-center">
      <div class="card-body bg-light">
        <h2 class="card-title">Welcome to Explore Malta</h2>
        <p class="card-text">You can find the restaurants & Events in Malta in Both list and Map view</p>
        <a href="#" class="btn btn-primary" routerLink="/restaurant">Show Restaurants</a>
        <a href="#" class="btn btn-primary" routerLink="/events">Show Events</a>
      </div>
    </div>     
  </div>
</header>

<router-outlet></router-outlet>